In [15]:
import pandas as pd
df=  pd.read_csv("C:\\Users\\pc\\Downloads\\heart.csv")
df.head()
import numpy as np

In [2]:
df.isnull().sum()

Age               0
Sex               0
ChestPainType     0
RestingBP         0
Cholesterol       0
FastingBS         0
RestingECG        0
MaxHR             0
ExerciseAngina    0
Oldpeak           0
ST_Slope          0
HeartDisease      0
dtype: int64

In [4]:
df.describe()

,Age,RestingBP,Cholesterol,FastingBS,MaxHR,Oldpeak,HeartDisease
count,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000,918.000000
mean,53.510893,132.396514,198.799564,0.233115,136.809368,0.887364,0.553377
std,9.432617,18.514154,109.384145,0.423046,25.460334,1.066570,0.497414
min,28.000000,0.000000,0.000000,0.000000,60.000000,-2.600000,0.000000
25%,47.000000,120.000000,173.250000,0.000000,120.000000,0.000000,0.000000
50%,54.000000,130.000000,223.000000,0.000000,138.000000,0.600000,1.000000
75%,60.000000,140.000000,267.000000,0.000000,156.000000,1.500000,1.000000
max,77.000000,200.000000,603.000000,1.000000,202.000000,6.200000,1.000000

In [7]:
df[df.RestingBP>(df.RestingBP.mean()+3*df.RestingBP.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
109,39,M,ATA,190,241,0,Normal,106,N,0.0,Up,0
241,54,M,ASY,200,198,0,Normal,142,Y,2.0,Flat,1
365,64,F,ASY,200,0,0,Normal,140,Y,1.0,Flat,1
399,61,M,NAP,200,0,1,ST,70,N,0.0,Flat,1
592,61,M,ASY,190,287,1,LVH,150,Y,2.0,Down,1
732,56,F,ASY,200,288,1,LVH,133,Y,4.0,Down,1
759,54,M,ATA,192,283,0,LVH,195,N,0.0,Up,1

In [47]:
df1= df[df.RestingBP<=(df.RestingBP.mean()+3*df.RestingBP.std())]
df1.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [49]:
df1.shape

(911, 12)

In [50]:
df[df.Cholesterol>(df.Cholesterol.mean() + 3*df.Cholesterol.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
76,32,M,ASY,118,529,0,Normal,130,N,0.0,Flat,1
149,54,M,ASY,130,603,1,Normal,125,Y,1.0,Flat,1
616,67,F,NAP,115,564,0,LVH,160,N,1.6,Flat,0

In [54]:

df2 = df1[df1.Cholesterol<=(df1.Cholesterol.mean()+3*df1.Cholesterol.std())]
df2.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [55]:
df2.shape

(908, 12)

In [72]:
df[df.MaxHR<(df.MaxHR.mean()-3*df.MaxHR.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
390,51,M,ASY,140,0,0,Normal,60,N,0.0,Flat,1

In [58]:
df[df.Oldpeak>(df.Oldpeak.mean()+3*df.Oldpeak.std())]

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
166,50,M,ASY,140,231,0,ST,140,Y,5.0,Flat,1
702,59,M,TA,178,270,0,LVH,145,N,4.2,Down,0
771,55,M,ASY,140,217,0,Normal,111,Y,5.6,Down,1
791,51,M,ASY,140,298,0,Normal,122,Y,4.2,Flat,1
850,62,F,ASY,160,164,0,LVH,145,N,6.2,Down,1
900,58,M,ASY,114,318,0,ST,140,N,4.4,Down,1

In [61]:
df3 = df2[df2.Oldpeak<=(df2.Oldpeak.mean()+3*df.Oldpeak.std())]
df3.shape

(902, 12)

In [68]:
df.FastingBS.value_counts()

FastingBS
0    704
1    214
Name: count, dtype: int64

In [74]:
df3.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,ATA,140,289,0,Normal,172,N,0.0,Up,0
1,49,F,NAP,160,180,0,Normal,156,N,1.0,Flat,1
2,37,M,ATA,130,283,0,ST,98,N,0.0,Up,0
3,48,F,ASY,138,214,0,Normal,108,Y,1.5,Flat,1
4,54,M,NAP,150,195,0,Normal,122,N,0.0,Up,0

In [75]:
df3.ChestPainType.value_counts()

ChestPainType
ASY    485
NAP    201
ATA    171
TA      45
Name: count, dtype: int64

In [76]:
df3.ChestPainType.unique()

array(['ATA', 'NAP', 'ASY', 'TA'], dtype=object)

In [77]:
df3.RestingECG.unique()

array(['Normal', 'ST', 'LVH'], dtype=object)

In [79]:
df3.ST_Slope.unique()

array(['Up', 'Flat', 'Down'], dtype=object)

In [78]:
df3.ExerciseAngina.unique()

array(['N', 'Y'], dtype=object)

In [80]:
df3.Sex.unique()

array(['M', 'F'], dtype=object)

In [85]:
df4=df3.copy()
df4.ChestPainType.replace(
{
    "ATA":0,
    "NAP":1,
    "ASY":2,
    "TA":3
},
inplace=True)
df4.RestingECG.replace(
{
  "Normal":1,
    "ST":2,
    "LVH":3
},
inplace=True)
df4.ST_Slope.replace(
{
   "Up":1,
    "Flat":2,
    "Down":3
},
inplace=True)

In [86]:
df4.head()

,Age,Sex,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,ExerciseAngina,Oldpeak,ST_Slope,HeartDisease
0,40,M,0,140,289,0,1,172,N,0.0,1,0
1,49,F,1,160,180,0,1,156,N,1.0,2,1
2,37,M,0,130,283,0,2,98,N,0.0,1,0
3,48,F,2,138,214,0,1,108,Y,1.5,2,1
4,54,M,1,150,195,0,1,122,N,0.0,1,0

In [89]:
df5=pd.get_dummies(df4,drop_first=True)
df5.head()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease,Sex_M,ExerciseAngina_Y
0,40,0,140,289,0,1,172,0.0,1,0,True,False
1,49,1,160,180,0,1,156,1.0,2,1,False,False
2,37,0,130,283,0,2,98,0.0,1,0,True,False
3,48,2,138,214,0,1,108,1.5,2,1,False,True
4,54,1,150,195,0,1,122,0.0,1,0,True,False

In [90]:
x = df5.drop("HeartDisease",axis='columns')
y = df5.HeartDisease

In [91]:
df5.describe()

,Age,ChestPainType,RestingBP,Cholesterol,FastingBS,RestingECG,MaxHR,Oldpeak,ST_Slope,HeartDisease
count,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000,902.000000
mean,53.487805,1.447894,131.854767,197.347007,0.232816,1.597561,136.848115,0.857428,1.627494,0.548780
std,9.444115,0.852659,17.682612,107.585613,0.422860,0.802960,25.451226,1.013157,0.600442,0.497891
min,28.000000,0.000000,0.000000,0.000000,0.000000,1.000000,60.000000,-2.600000,1.000000,0.000000
25%,47.000000,1.000000,120.000000,173.000000,0.000000,1.000000,120.000000,0.000000,1.000000,0.000000
50%,54.000000,2.000000,130.000000,222.000000,0.000000,1.000000,138.000000,0.500000,2.000000,1.000000
75%,60.000000,2.000000,140.000000,266.000000,0.000000,2.000000,156.000000,1.500000,2.000000,1.000000
max,77.000000,3.000000,185.000000,518.000000,1.000000,3.000000,202.000000,4.000000,3.000000,1.000000

In [93]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
x_scaled = scaler.fit_transform(x)
x_scaled

array([[-1.42896269, -1.6990351 ,  0.46089071, ..., -1.0456339 ,
         0.51485643, -0.82065181],
       [-0.47545956, -0.52558207,  1.5925728 , ...,  0.62072967,
        -1.94228905, -0.82065181],
       [-1.74679706, -1.6990351 , -0.10495034, ..., -1.0456339 ,
         0.51485643, -0.82065181],
       ...,
       [ 0.37209878,  0.64787097, -0.10495034, ...,  0.62072967,
         0.51485643,  1.21854359],
       [ 0.37209878, -1.6990351 , -0.10495034, ...,  0.62072967,
        -1.94228905, -0.82065181],
       [-1.64085227, -0.52558207,  0.3477225 , ..., -1.0456339 ,
         0.51485643, -0.82065181]])

In [95]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.8,random_state=30)

In [99]:
from sklearn.svm import SVC
model = SVC()
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.832409972299169

In [103]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
score=cross_val_score(DecisionTreeClassifier(),x,y,cv=5)
score

array([0.76243094, 0.78453039, 0.78888889, 0.77777778, 0.60555556])

In [104]:
score.mean()

0.7438367096378146

In [107]:
from sklearn.ensemble import BaggingClassifier
bag_model=BaggingClassifier(
    estimator=SVC(),
    n_estimators=100,
    max_samples=0.8,
    random_state=0,
    oob_score=True
)
bag_model.fit(x_train,y_train)
bag_model.oob_score_

0.8555555555555555

In [108]:
bag_model.score(x_train,y_train)

0.9166666666666666